body{
    background-image : url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png")
}
.Wrapper,#headerwrapper{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 100%vh
    
   
}
#Header{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0px;
    /* display: flex; */
    
    
}
a,p,label{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777
}
h1{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 25%;
    text-align: center;
    margin: unset;
    float: left;
    font-size: 38px;

}
#navLink{
    text-align: right;
    float: right;
    padding: 8px;
    margin-top: 14px;
    
} 
a{
    border-right: 1px solid #cccccc;
    padding: 10px;
    font-size: 15px;
    margin-top: 21px;
    
} 
#Header::after{
    content: ""; 
   display: block;
  clear: both;
} 
.maincontent{
    margin-top: 10px;  
    margin-bottom: 10px;
    background-color: #ffffff; 
    float: left;
    width: 960px;
}
#contentwrapper{
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    color: #4aaaa5;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid #cccccc;
    
  }
img{
    height : 300px;
    width: 300px;
    margin-right: 15px;
    float: left;
    
}
.box-set{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-top: 20px;
    /* background-color: #666666 */
}
.box,#pictag{
    margin: unset;
    height: 270px;
    width: 270px;
    margin-bottom: 30px;
    background-color: grey;
    opacity: 1.0;
}
#pictag{
    display:flex;
    align-items: flex-end;
    height: 100px;
    background-color: #cccccc;
    color: yellow

    
}
.box:hover{
    opacity: .5;
    
}
a:hover{
    color:black;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    justify-items: first baseline;
}
input[type=submit]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #4aaaa5;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.form{
    padding-top: 9px;
}
footer{
    margin:unset;
    color: unset;
    color:#ffffff;
    clear: both;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    Padding: 20px;

    

}